{% extends "layout.html" %}
{% block content %}
<style>

    .index-div {
        width: 70%;
        margin-left: 14%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .txt {
        font-family: 'Montserrat', sans-serif;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .h3,
    .btn {
        font-family: 'Acme';
    }

    .btn {
        background-color: royalblue;
        color: white;
    }

    .btn:hover {
        border: 2px royalblue solid;
        background-color: white;
        color: royalblue;

    }

    @media screen and (min-width: 1024px) {
        .index-div {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    @media screen and (max-width: 1024px) {
        .index-div {
            width: auto;
            margin-left: 0px;
            padding-left: 5%;
            padding-right: 5%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }

</style>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show m-5 p-3" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% if flg == 1 %}
<div class="alert alert-success alert-dismissible fade show m-5 p-3" role="alert">
    <strong>CHECKED OUT!</strong> You will recieve a notifictaion. Thanks for your visit!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="index-div mt-5 mb-5 aniview fast" data-av-animation="slideInLeft">
    <form class="pt-5 pb-5" action="{{ url_for('check_out') }}" method="post">
        {% if flg == 0 %}
        <div class="text-center">
            <p class="h3 mb-4">CHECK OUT DETAILS</p>
        </div>
        <div class="form-group row">

            <div class="col-sm-6">
                <select class="form-control mb-4 p-2 txt" id="code" name="code" required>
                    <option value="null" selected>Country Code</option>
                    {% for code in codes %}
                    <option value="{{ code['dial_code'] }}">{{ code['name'] }} ({{ code['dial_code'] }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <input type="phone" id="phone" name="phone" class="form-control mb-4 p-2 txt" placeholder="10-digit Mobile Number" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="text" id="time-out" name="time-out" class="form-control mb-4 p-2 time-class txt" placeholder="Check-Out Time" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-md btn-block my-3" type="submit">CHECK OUT</button>
            </div>
            <div class="col-sm-6">
                <a href="{{ url_for('check_in')}}" class="btn btn-md btn-block my-3">BACK HOME</a>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <p class="h6 mb-4" style="color: darkred;">You will be redirected to home page.</p>
        </div>
<!--        <a href="{{ url_for('check_in')}}" class="btn btn-md btn-block my-4">BACK HOME</a>-->
        <script>
            window.setTimeout(function() {
                window.location.href = "{{ url_for('check_in')}}";
            }, 2000);

        </script>
        {% endif %}
    </form>
</div>
{% endblock %}
